.about {
  margin-top: 50px;
}
.about__dropdowns__container {
  width: 82.5%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: 1;
  grid-row-gap: 30px;
}
