.ratings__container {
  width: 190px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.ratings__star {
  width: 25px;
  aspect-ratio: 1;
}

@media screen and (max-width: 650px) {
  .ratings__container {
    width: 100px;
  }
  .ratings__star {
    width: 13px;
  }
}
