.host-info {
  margin: 0;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  width: 100%;
}
.host-info__name {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 10px;
  text-align: right;
}

.host-info__picture {
  border-radius: 50%;
  width: 64px;
  aspect-ratio: 1;
}
