.footer {
  height: 220px;
  position: absolute;
  left: 0;
  right: 0;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}
.footer__logo {
  display: block;
  width: 122px;
  margin-top: 65px;
}
