.navigation__list {
  display: flex;
  height: 100%;
  align-items: center;
  font-size: 24px;
}

.navigation__list__link {
  color: #ff6060;
  margin-left: 4vw;
}
@media screen and (max-width: 700px) {
  .navigation__list {
    font-size: 12px;
    text-transform: uppercase;
  }
}
@media screen and (max-width: 600px) {
  .navigation__list__link {
    margin: 0;
    margin-left: 10px;
  }
}
