.dropdown {
  height: fit-content;
  overflow: hidden;
  position: relative;
  height: 100%;
  border-radius: 5px;
}

.dropdown__title {
  background: #ff6060;
  border-radius: 5px;
  color: white;
  padding: 14px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  z-index: 2;
}
.dropdown__text {
  background-color: rgba(246, 246, 246, 1);
  transition: transform 0.4s linear;
  padding: 20px;
  padding-top: 60px;
  position: relative;
  z-index: 1;
  border-radius: 5px;
  height: 100%;
  overflow: hidden;
}

.dropdown__arrow {
  transition: transform 0.2s linear;
}
.dropdown__open .dropdown__arrow {
  transform: rotate(-180deg);
}
.dropdown__close .dropdown__text {
  transform: translateY(-130%);
}

.dropdown__close {
  height: 48px;
}
